<h1 class="edit_heading">Edit Booking</h1>

<%= render 'form', booking: @booking %>

<% if @booking.starttime.eql? @booking.endtime %>
<% @booking.endtime + 1%>
<% else %>
<% end %>

<%= link_to 'Show', @booking %> |
<%= link_to 'Back', day_path(@booking.day_id) %>

