// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  border: solid 1px black;
  width: 150px;
  height: 80px;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

th {
  width:200px;
  height:80px;
  border: solid 1px black;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

.mariobg, .mariobg a{
  background-color: #ff4444;
  color: black;
  font-weight: bold;
}

.pacmanbg, .pacmanbg a{
  background-color: #ffff66;
  color: black;
  font-weight: bold;
}

.froggerbg, .froggerbg a{
  background-color: #66ff66;
  color: black;
  font-weight: bold;
}

.cortanabg, .cortanabg a{
  background-color: #ff66ff;
  color: black;
  font-weight: bold;
}

.zeldabg, .zeldabg a{
  background-color: #ffcccc;
  color: black;
  font-weight: bold;
}

.tetrisbg, .tetrisbg a{
  background-color: #cce6ff;
  color: black;
  font-weight: bold;
}

.breakoutbg, .breakoutbg a{
  background-color: #ffcc80;
  color: black;
  font-weight: bold;
}

.marioheading{
  background-color: #ff1a1a;
  font-size: 1.5em;
}

.pacmanheading{
  background-color: #ffff00;
  font-size: 1.5em;
}

.froggerheading{
  background-color: #00ff00;
  font-size: 1.5em;
}

.cortanaheading{
  background-color: #ff00ff;
  font-size: 1.5em;
}

.zeldaheading{
  background-color: #ff6699;
  font-size: 1.5em;
}

.tetrisheading {
  background-color: #80ffff;
  font-size: 1.5em;
}

.breakoutheading{
  background-color: #ffa31a;
  font-size: 1.5em;
}

.timeslot {
  width: 100px;
  font-size: 1.5em;
}

.booking_field:hover {
    background-color: lightgrey;
}

a:hover {
  font-size: 1.1em;
}

.heading {
  font-family: 'Modern Antiqua', cursive;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
}
