// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rooms {
  margin: 0 auto;
  border-radius:10px;
}
.roomsblock {
  border: 1px solid black;
  width: 200px;
  height: 80px;
  text-align: center;
  font-size: 2em;
}

.mario{
  background-color: #ff6666;
}

.pacman{
  background-color: #ffff66;
}

.frogger{
  background-color: #66ff66;
}

.cortana{
  background-color: #ff66ff;
}

.zelda{
  background-color: #ffcce0;
}

.tetris {
  background-color: #cce6ff;
}

.breakout{
  background-color: #ffcc80;
}
